@import "tailwindcss";

.month {
  @apply flex flex-col w-225 min-w-225 rounded-lg py-2 px-4 bg-[#eee] gap-2 h-full;
}

.date {
  @apply flex flex-col border border-solid rounded-lg items-center text-(--main-dark);
  &.activities {
    @apply border border-solid border-(--main) bg-(--second-light) cursor-pointer;
  }
  &.cloture {
    @apply border border-solid border-(--main) bg-black cursor-pointer;
  }
  &.today {
    border: 6px groove var(--main) !important;
  }
}

.month-resume {
  @apply border border-solid p-1 text-center rounded-lg text-sm bg-(--main-light);
  &:hover {
    @apply bg-purple-400 text-white cursor-pointer;
  }
}

.resume-day {
  @apply flex bg-(--main-light) h-full rounded-lg p-1 pt-0 flex-col min-w-0 overflow-x-hidden overflow-y-auto;
}


* {
  font-family: "Candy";
}

h1 {
  @apply text-center w-fit p-0 m-0 mx-auto text-xl;
}

h2 {
  @apply w-fit p-0 m-0 mx-auto text-lg;
}

@font-face {
  font-family: "Classic";
  src: url("../../fonts/Hello Baby.otf");
}

@font-face {
  font-family: "Candy";
  src: url("../../fonts/Candy Fruits.otf");
}


:root {
  --main: var(--color-purple-300);
  --main-light: var(--color-purple-200);
  --main-dark: var(--color-purple-500);
  --second-light: var(--color-yellow-200);
}

#container {
  @apply flex overflow-y-hidden overflow-x-auto w-full gap-4;
}

#resume {
  @apply grid grid-cols-1 min-w-fit h-fit rounded-lg my-auto gap-2 bg-(--main) text-black;
}

#content {
  @apply flex max-h-screen h-[calc(100vh-4rem)] justify-between gap-2 p-4 bg-(--main);
}

